%table.table.table-hover
  %tr
    %th Лікар
    %th Номер телефону
    %th E-mail
    %th Відділення
    %th

  - @users.each do |u|
    %tr
      %td= link_to u.name, user_path(u)
      %td= u.tel
      %td= u.email
      %td= u.departament.name
      %td.btn-group.btn-group-sm.pull-right
        = link_to t("action.delete"), user_path(u), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-mini btn-danger'
