= simple_form_for(@card, html: { class: 'form-horizontal, new-cards-form' }) do |f|
  = f.input :f_name, label: "Ім'я"
  = f.input :m_name, label: "По-батькові"
  = f.input :l_name, label: "Прізвище"
  = f.input :birthday, as: :date, start_year: Time.now.year - 110, end_year: Time.now.year, label: "Дата народження"
  = f.input :tel, as: :tel, label: "Телефон"
  = f.input :gender, as: :radio_buttons, collection: [['0', 'Жіноча'], ['1', 'Чоловіча']], label_method: :second, value_method: :first, label: "Стать"

  = f.submit "Створити картку", class: "btn btn-success"
