%ul.breadcrumb
  %li
    =link_to t("index"), root_path
    %span.divider
  %li.active
    =t("card.plural")
= link_to "Нова медична картка пацієнта", new_card_path, class: "btn btn-primary"
.cards
  - @cards.each do |c|
    .card
      %p Прізвище: #{c.l_name}
      %p Ім'я: #{c.f_name}
      %p По-батькові: #{c.m_name}
      %p Телефон: #{c.tel}
      = link_to "Більше...", card_path(c)
