=simple_form_for(@appointment, html: { class: 'form-horizontal, new-appointments-form' }) do |f|
  = f.input :meeting_time, minute_step: 15, start_hour: 9, end_hour: 18, as: :date
  -# = binding.pry
  .appointment-select
    %label{for: "appointment_card"}
      %select{ class: "js-example-basic-single", name: "appointment[card_id]", id: "appointment_card" }
        %option Select patient
        - @patients.each do |u|
          %option{value: u.id}= u.f_name
  .appointment-select
    %label{for: "appointment_departament"}
      %select{ class: "js-example-basic-single", id: "appointment_departament" }
        %option Select Departament
        - @departaments.each do |d|
          %option{value: d.id}= d.name
  .appointment-select
    %label{for: "appointment_user"}
      %select{class: "js-example-basic-single", name: "appointment[user_id]", id: "appointment_user"}
        %option Select doctor
        - @users.each do |u|
          %option{value: u.id}= u.name

  = f.submit

:javascript
  $(document).ready(function() {
      $('.js-example-basic-single').select2();
  });
