%ul.breadcrumb
  %li
    = link_to t("index"), root_path
    %span.divider
  %li.active
    = t("appointment.plural")

= link_to t("appointment.new"), new_appointment_path

- @appointments.each do |a|
  .app
    = a.user.name
    = a.meeting_time
    = a.card.f_name
